@font-face{
  font-family:'clock';
  src: url('./digital-7\ \(mono\).ttf');
 }

 @media (prefers-reduced-motion: no-preference) {
  .timer-finished {
    animation: timer-finished-anim infinite alternate 0.5s ease;
  }
}
 

@keyframes timer-finished-anim {
  from {
    color: #3e4347ff;
  }
  to {
    color: red;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F5F5FF;
}

.input {
  display: flex;
  justify-content: space-between;
}

.time-input {
  width: 80px;
  height: 35px;
  margin: 3px;
  display: flex;
  font-size: 30px;
  text-align: center;
  color: #3e4347ff;
  font-family: monospace;
}

.App {
  color: #3e4347ff;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.digital-clock {
  border: 18px solid #647a87ff;
  font-size: 50px;
  border-radius: 20px;
}

.digital-clock-in {
  width: 250px;
  height: 70px;
  border: 10px solid #d2d3d5ff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: -2px;
}

.clock-number {
  display: block;
  font-family: clock, monospace;
  margin-top: -15px;
}

.clock {
  width: 400px;
  height: 400px;
  background-image: url('./stopwatch-no-pointer.svg');
  margin: 40px;
}

.clock-center {
  width: 16px;
  height: 16px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  transform: translateX(192px) translateY(234px);
}

.stopwatch-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}

.input {
  margin: 20px;
}

.stopwatch-buttons button {
  cursor: pointer;
  font-size: 20px;
  background-color: #4545b435;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 12px;
}

.stopwatch-buttons button:hover:disabled {
  color: grey;
  background-color: #9898c2;
}

.stopwatch-buttons button:hover {
  background-color: #6A6AC1;
  color: white;
}

.cronometer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}